
.App-header { 
    position: absolute;
    top:0;
    left:0;
    padding: 30px 30px 0 35px;
    transform: rotateZ(-45deg) translateX(-40px) translateY(-50px);
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1vmin);
    flex:2;
    text-shadow: inset 1px 1px 1px var(--bg_white);
   
  }
  .App-header .text__embossed{
    background-color: rgb(73, 73, 73);
  color: transparent;
  text-shadow: 2px 2px 3px var(--bg_white);
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

  }

  .text__ribbon{
    background-color: var(--bg_dark);
    padding: 0 20px;
    box-shadow: -5px -5px 20px var(--bg_white),  5px 5px 20px var(--bg_shadow);
   transform: translateX(-10px);
  }